@import '../variables.scss';



legend {
  display: block;
  background-color: $lleuad-newydd;
  border-radius: 100px;
  border: 2px solid $lleuad;
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  margin: inherit;
}


fieldset {
  display: flex;
  flex-flow: column;
  background-color: $lleuad-20p;
  border: 2px solid $lleuad;
  border-radius: 21.37px;
  margin: 0.75rem 0;
  padding: 0.5rem;
  transition: margin 0ms;

  &:hover {
    border-color: $lleuad-lawn;
  }
  
  button {
    align-items: center;
  }

  label {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: rem;
  }
}


.closed-fieldset {
 
  .fieldset-toggle {
    &::after {
      content: '   ▼';
    }
  }

  fieldset {
    height: 0;
    overflow: hidden;
    transition: height;
  }

  .break-line-label {
    display: none;
  }
}

.toggleable-fieldset {
  legend {
    cursor: pointer;

    &::after {
      content: '   ▲'
    }

    &:hover {
      background-color: $lleuad;
    }
  }

  &:hover {
   > legend {
      border-color: $lleuad-lawn;
    }
  }
}

/* hides the fieldset except its legend */
.closed-fieldset {
  display: contents;
  transition: margin-top 0ms;  
  * {
    display: none !important; // !important is required to actually fully hide the
                              // elements AND not show any extra empty space
  }


  legend {
    display: block !important; // the !important above hides the legend as well,
                               //   so this one is needed to override it

    &::after {
      content: '   ▼'
    }
  };

  .break-line-label {
    display: none;
  }
}

.break-line-label {
  white-space: pre-wrap;
  display: flex;
  flex: 0 0 70%;
  align-items: end;

  input {
    flex: 0 0 30%;
  }
}