@import "../variables.scss";

#main-panel-preview-wrapper {
  grid-area      : main;
  display        : flex;
  flex-flow      : column;
  min-height     : max-content;
  justify-content: space-between;
}

#main-panel-preview {
  flex-grow: 1;
  color: ghostwhite;
  font-size: 1rem;
}

#main-panel-preview-wrapper > * {
  padding: 0 $default-horizontal-padding;
  padding-bottom: $default-vertical-padding;
}

#gdpr-clause {
  height: fit-content;
  flex-grow: 0;
  color: rgba(248, 248, 255, 0.5); // Ghostwhite with reduced
  font-size: 0.75rem;
  text-align: justify;

}

.main-panel-section-preview > * {
  padding-bottom: $default-vertical-padding;
}

.main-section-preview-title {
  h3 {
    color: $moonlight-II-yellow;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.main-panel-item-preview {
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
  align-items: flex-start;
  row-gap: 5px;
}


.main-item-title-preview {
  font-size: 1.1rem;
  font-weight: bold;
}

.main-item-location-preview {
}

.main-item-date-preview {
  font-size: 0.85rem;
  color: rgba(248, 248, 255, 0.8)
}

.main-item-description-preview {
  text-align: justify;
}

.main-item-separator {
  position: relative;
  width: 30%;
  margin-left: 0;
}

.main-item-institution-preview {
  font-style: italic;
}



.main-item-full-location-preview *{
  display: inline;
}