@import "../variables.scss";

$side-panel-h3-size: 1.4rem;

#side-panel-preview-wrapper {
  grid-area: side-panel;

  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  background-color: $cv-theme-primary-brighter;

}
  .panel-separator {
    border: 2.5px solid $moonlight-II-yellow;
    border-radius: 10px;
    margin: 0;
  }

#side-panel-preview {
  flex : 1 0 auto;
  color: ghostwhite;

  h3 {
    text-align : center;
    font-weight: bold;
  }
}

.side-section-title {
  margin: auto;
  padding: 0 $default-horizontal-padding;
  padding-bottom: $default-vertical-padding;
  justify-content: center;
  flex-flow: row;
  color: $moonlight-II-yellow;

  
  h3 {
    font-size : $side-panel-h3-size;
  }
}

.side-item {
  align-items: center;
  display    : flex;
  flex-flow  : column;
  font-size  : 1rem;
  padding    : 0 $default-horizontal-padding;
  padding-bottom: $default-vertical-padding;
  width      : 100%;
}


.side-item-title {
  text-align: center;
}

.side-item-level-stars {
  display: flex;
  justify-content: end;
}