#top-panel-preview-img        { grid-area: image;   }
#top-panel-preview-text       { grid-area: text;    }
#top-panel-preview-first-name { grid-area: first;   }
#top-panel-preview-last-name  { grid-area: last;    }
#top-panel-preview-job-title  { grid-area: title;   }
#top-panel-preview-email      { grid-area: email;   }
#top-panel-preview-phone      { grid-area: phone;   }
#top-panel-preview-address    { grid-area: address; }
#top-panel-preview-country    { grid-area: country; }

#top-panel-preview {
  grid-area: top-panel;

  font-size: 0.75rem;

  background-color: $cv-theme-primary;
  color: ghostwhite;

  display: grid;
  margin-bottom: 5px;

  grid-template-columns: 12rem 1fr ;
  grid-template-rows   : 1fr;
  grid-template-areas  : 'image text' ;

  img {
    width : 150px;
    height: 150px;

    border: 2px solid $moonlight-II-yellow;
    border-radius: 100%;
    &.round {
      border-radius: 100%;
    }
  }
}

#top-panel-preview-img {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-panel-preview-text {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows   : 1fr 1fr 1fr 1fr;
  grid-template-areas  :
    'first   last   '
    'title   title  '
    'email   phone  '
    'address country';
}

.top-panel-element {
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  word-break: break-word;
  gap: 5px;

  svg {
    flex-shrink: 0;

    path {
      flex-shrink: 0;
    }
  }
}

#top-panel-preview-first-name,
#top-panel-preview-last-name {
  font-size: 1.1rem;
}

#top-panel-preview-job-title {
  font-size: 1.3rem;
  text-align: center;
}