@import '../variables.scss';


#cv-preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 10px;
}

@media screen {
  .cv-preview {
    box-shadow: 
      0 0 5px 5px ghostwhite,
      0 0 9px 5px black;
  }
}


@media screen and (min-resolution: 72dpi) {
  .cv-preview {
    width : 595px;
    min-height: 842px;
  }
}

@media screen and (min-resolution: 96dpi) {
  .cv-preview {
    width : 794px;
    min-height: 1123px;
  }    
}


.cv-preview {
  padding-bottom: 20px;
  overflow-block: paged;

  background-color: $cv-theme-primary-brighter;
  border: 1px solid black;
  //box-shadow: 5px 5px 10px black;

  display: grid;

  grid-template-columns: $side-panel-width $main-panel-width;
  grid-template-rows   : min-content 1fr;
  grid-template-areas  :
    'top-panel  top-panel'
    'side-panel main     ' ;
}


a {
  text-decoration: none;
  cursor: pointer;
  color: $moonlight-II-purple;
}


.linethrough-header {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  text-align: center;
  background-color: $cv-theme-primary-brighter;
  max-width: 100%;
  padding: 0 5px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-break: break-word;
}

.linethrough-hr {
  position: absolute;
  z-index: 0;
  width: 100%;
  border: 2px solid $moonlight-II-yellow;
}

.linethrough-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // &::before,
  // &::after {
  //   content: '';
  //   flex: 1;
  //   border-bottom: 2px solid $moonlight-II-yellow;
  // }
  // &:not(:empty)::before {
  //   margin-right: 0.55rem;
  // }

  // &:not(:empty)::after {
  //   margin-left: 0.55rem;
  // }
}


@import './main-panel';
@import './side-panel';
@import './top-panel';