@import '../variables.scss';

#cv-preview-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cv-preview {
  width : $a4-width;
  height: $a4-height;

  background-color: $cv-theme-primary-brighter;
  border: 1px solid black;
  box-shadow: 5px 5px 10px black;

  display: grid;
  gap    : 0 10px;

  grid-template-columns: 7fr 15fr;
  grid-template-rows   : min-content 1fr;
  grid-template-areas  :
    'top-panel  top-panel'
    'side-panel main     ' ;
}



.linked-title a {
  text-decoration: none;
  cursor: pointer;
  color: $moonlight-II-purple;
}


.linethrough-header {
  display: flex;
  align-items: center;
  text-align: center;

  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid $moonlight-II-yellow;
  }

  &:not(:empty)::before {
    margin-right: 0.55rem;
  }

  &:not(:empty)::after {
    margin-left: 0.55rem;
  }
}



@import './main-panel';
@import './side-panel';
@import './top-panel';