* {
  box-sizing: border-box;
  font-family: 'Courier New', Consolas, 'Times New Roman', Times, serif;
  transition: 250ms ease-in-out;
}

@import './includes/Preview/preview';
@import './includes/cvform';
@import './includes/main';
@import './includes/print.scss';

