@import "./variables.scss";

#cv-form {
  min-width: 25rem;
  min-height: 35rem;

  border: 1px solid black;
}

fieldset {
  display: flex;
  flex-flow: column;

  label {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}

input[name="level"] {
  width: 40px;
}

.simple-svg-wrapper {
  display: inline-flex;
  border: 1px solid $moonlight-II-purple;
  padding: 3px;
  width: fit-content;
  cursor: pointer;
  border-radius: 100%;
}


legend {
  display: block;
  background-color: ghostwhite;
  width: 100%;
  text-align: center;
}

.break-line-label {
  white-space: pre-wrap;
  max-width: 30rem;
  display: flex;

  align-items: end;
}