@import "./variables.scss";

#cv-form {
  min-width: 25rem;

  //border: 1px solid $lleuad-lawn;
}

#user-input-zone {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

fieldset {
  display: flex;
  flex-flow: column;
  background-color: $lleuad-20p;
  border: 2px solid $lleuad-lawn;
  border-radius: 21.37px;
  margin-top: 2rem;
  label {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}

input[name="level"] {
  width: 40px;
}

.simple-svg-wrapper {
  display: inline-flex;
  border: 1px solid $moonlight-II-purple;
  padding: 3px;
  width: fit-content;
  cursor: pointer;
  border-radius: 100%;
}


legend {
  display: block;
  background-color: $lleuad-newydd;
  border-radius: 100px;
  border: 2px solid $lleuad;
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  margin-top: 1rem;
}

.toggleable-fieldset {
  legend {
    cursor: pointer;

    &::after {
      content: '   ▲'
    }
  }
  transition: 300ms ease-in-out;
}

/* hides the fieldset except its legend */
.closed-fieldset {
  display: contents;

  * {
    display: none;
  }

  legend {
    display: block;

    &::after {
      content: '   ▼'
    }
  };

  .break-line-label {
    display: none;
  }
}

.break-line-label {
  white-space: pre-wrap;
  max-width: 30rem;
  display: flex;

  align-items: end;
}

#storage-buttons {
  display: flex;
  flex-direction: column;
}

button {
  border: 2px solid $lleuad-lawn;
  background: $lleuad-newydd;
  color: $lleuad-lawn;
  transition: 300ms ease-in-out;
  width: fit-content;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 1.1rem;
  font-weight: bold;

  &:hover {
    background: $lleuad-lawn;
    color: $lleuad-newydd;
  }
}

#storage-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 100%;
    margin-top: 0.5rem;
  }
}