@import './variables.scss';

main {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
}

html {
  background-color: $lleuad-newydd;
  color: ghostwhite;
}

// Undecided feature
// @media screen and (min-width: 1600px) {
//   #user-input-zone {
//     position: fixed;
//     top: 0;
//     left: 0;
//     overflow-y: auto;
//   }
// }
  
