@import './variables.scss';

main {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
}

html {
  background-color: $lleuad-newydd;
  color: ghostwhite;
}