$a-format-base: 35rem;

$a4-width : $a-format-base;
$a4-height: calc(297/210 * $a-format-base);

$cv-theme-primary: #00c144;

#cv-preview {
  width : $a4-width;
  height: $a4-height;

  background-color: ghostwhite;
  border: 1px solid black;
  box-shadow: 5px 5px 10px black;

  display: grid;

  grid-template-columns: 1fr 5fr;
  grid-template-rows   : min-content 1fr;
  grid-template-areas  :
    'top-panel  top-panel'
    'side-panel main     ' ;
}

#top-panel-preview-img        { grid-area: image;   }
#top-panel-preview-first-name { grid-area: first;   }
#top-panel-preview-last-name  { grid-area: last;    }
#top-panel-preview-job-title  { grid-area: title;   }
#top-panel-preview-email      { grid-area: email;   }
#top-panel-preview-phone      { grid-area: phone;   }
#top-panel-preview-address    { grid-area: address; }
#top-panel-preview-country    { grid-area: country; }

#top-panel-preview {
  grid-area: top-panel;

  background-color: rgb(34, 34, 62);
  color: ghostwhite;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows   : 1fr 1fr 1fr 1fr;
  grid-template-areas  :
    'image   first   last   '
    'image   title   title  '
    'image   email   phone  '
    'image   address country';

  img {
    width : 150px;
    height: 150px;

    border-radius: 1px solid $cv-theme-primary;

    &.round {
      border-radius: 100%;
    }
  }
}

#side-panel-preview {
  grid-area: side-panel;

  background-color: blue;
}

#main-preview {
  grid-area: main;
}