@import './variables';

@media print {
  html, body {
    background-color: $cv-theme-primary-brighter;

  //  min-height:100%;
    position:absolute;
    top:0px;
    bottom:0px;
    margin: auto;
    margin-top: 0px !important;
  }
  #user-input-zone {
    display: none;
  }

  .cv-preview-wrapper button {
    display: none;
  }


  @page {
    size: A4;
    margin: 0;
    padding: 1cm 0 1cm 0;
    html {
      background: $cv-theme-primary-brighter;
    };
  }
  @page:first {
    margin-top: 0;
  }

  .print-content {
    width  : 210mm;
    min-height: 297mm;
    display: grid  !important;

    print-color-adjust        : exact !important;
    -webkit-print-color-adjust: exact !important;
    -o-print-color-adjust     : exact !important;
  }

  .main-panel-item-preview,
  .side-panel-section {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  .main-section-preview-title {
    page-break-after: avoid;
  }

  footer {
    page-break-after: avoid;
  }
}