$default-vertical-padding  : 0.8rem;
$default-horizontal-padding: 1.5rem;

$cv-theme-primary: rgb(34, 36, 54);
$cv-theme-primary-brighter: rgb(51, 54, 81);

$moonlight-II-yellow: #ffc777;
$moonlight-II-purple: #c4a2ff;
