$default-vertical-padding  : 0.8rem;
$default-horizontal-padding: 1.5rem;

$cv-theme-primary: rgb(34, 36, 54);
$cv-theme-primary-brighter: rgb(51, 54, 81);

$moonlight-II-yellow: #ffc777;
$moonlight-II-purple: #c4a2ff;

$top-panel-text-width: 540.275px;

$lleuad-newydd    : rgb(2, 26, 33);
$lleuad-newydd-30p: rgba(2, 26, 33, 0.3);
$lleuad           : rgb(60, 100, 115);
$lleuad-lawn      : rgb(183, 209, 218);
$lleuad-20p       : rgba(60, 100, 115, 0.20);