$a-format-base: 35rem;

$a4-width : $a-format-base;
$a4-height: 792px; // calc(297/210 * $a-format-base);

$cv-theme-primary: rgb(34, 36, 54);
$cv-theme-primary-brighter: rgb(51, 54, 81);

$moonlight-II-yellow: #ffc777;
$moonlight-II-purple: #c4a2ff;
